body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('images/background-img.png') no-repeat center center fixed;
    background-color: #f8c2a3;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.content {
    padding-right: 17px;
    box-sizing: content-box;
}

a {
    text-decoration: none;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 17px;
}

header .logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
