.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    padding: 40px 57px;
    background-color: rgba(248, 228, 185, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.book-img {
    background: url('/images/book-img.png');
    height: 59px;
    width: 84px;
    background-size: cover;
    margin: auto;
}

form h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #a83388;
    text-align: center;
}

form label {
    font-size: 16px;
    color: #a83388;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="email"],
form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #b855a5;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #973584;
}

form .field span {
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 10px;
}

form .field a {
    color: #800080;
    text-decoration: none;
}